<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Show Trip</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet"  th:href="@{/css/showtrip.css}">
</head>
<body>
<h2>Trip List</h2>
<table class="table table-striped">
    <thead>
    <tr>
        <th scope="col">Trip No</th>
        <th scope="col">Driver Id</th>
        <th scope="col">Journey Distance</th>
        <th scope="col">Customer Id</th>
        <th scope="col">Fuel Consumed</th>
        <th scope="col">Vehicle Reg No</th>
        <th scope="col">Receipt No</td>
    </tr>
    </thead>
    <tr th:each="trip : ${triplist}">
        <td th:text="${trip.tripNo}">1</td>
        <td th:text="${trip.driverId}">1</td>
        <td th:text="${trip.journeyDistance}">1</td>
        <td th:text="${trip.customerId}">1</td>
        <td th:text="${trip.fuelConsumed}">1</td>
        <td th:text="${trip.vehicleRegNo}">1</td>
        <td th:text="${trip.receiptNo}">1</td>
        <br/>
    </tr>
</table>
<div class="d-flex justify-content-center links">
    <a th:href="@{/tripregister}" class="btn btn-primary anchorbox">Add Trip</a>
</div>
<div class="d-flex justify-content-center links">
    <a th:href="@{/deletetrip}" class="btn btn-primary anchorbox">Delete Trip</a>
</div>
<div class="d-flex justify-content-center links">
    <a th:href="@{/loggedhomepage}" class="btn btn-primary anchorbox">Logged Homepage</a>
</div>
</body>
</html>